.home{
    height: 90vh;
    display :flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}
.headerContainer{
    width: auto;
    margin-left: 30px;
} 
.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT',Calibri,'Trrebuchet MS','sans-serif';
    color: black;
}
.home .headerContainer p{
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}
.home .headerContainer button{
    background-color: black;
    margin-top: 20px;
    border-radius: .3rem;
    border: none;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    width: 150px;
    height: 40px;
    color: white;
    cursor: pointer;
}
.home .headerContainer button:hover{
    background-color:#3A3B3C;
    transition: 0.2s ease-in;
}
/* monbile-view0 */
@media only screen and (max-width:600px){
    .home{
        justify-content: center;
        align-items: center;
    }
    .headerContainer{
        margin-left:0px ;
        border-radius: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:black ;
        color: white;
    }
    .home .headerContainer h1{
     color: white;
     font-size: 40px;
     margin: 15px 0px;
     height: 30px;
    }
    .home .headerContainer p{
        color: white;
        font-size: 30px;
    }
    .home .headerContainer button{
        background-color: white;
        color: black;
        font-weight: bold;
        margin-bottom: 10px;
    }
}